Downloads/
Documents/
Pictures/
Videos/
Projects/
ujk/

# if anyone knows how to put them in the correct directory,
# please let me know... Some of them got "wont fix" label.
.ssh/
.cache/
.pki/
.gnupg/
.gnome/
.cargo/
.electron-gyp/
.mozilla/
.yarn/
.npm/
.vscode/
.var/ # flatpak
snap/
.bash*
.gitconfig
.Xauthority
*.log*

.local/src/
.local/share/*
!.local/share/applications

.config/*
!.config/nvim/init.vim
!.config/alacritty
!.config/bspwm/
!.config/espanso/
!.config/dunst/
!.config/fontconfig/
!.config/gtk-3.0/
!.config/mpd/
!.config/ncmpcpp/
!.config/polybar/
!.config/ranger/
!.config/starship/
!.config/sxhkd/
!.config/sxiv/
!.config/tmux/
!.config/wal/
!.config/wget/
!.config/zathura/
!.config/zsh/

!.config/aliasrc
!.config/mimeapps.list
!.config/picom.conf
!.config/user-dirs.dirs
!.config/wall.png
!.config/xinitrc
