*
*/*

!.config/alacritty
!.config/bat/
!.config/bspwm/
!.config/dunst/
!.config/espanso/
!.config/fish/
!.config/fontconfig/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/mpd/
!.config/mpv/
!.config/ncmpcpp/
!.config/newsboat/
!.config/nvim/init.vim
!.config/polybar/
!.config/ranger/
!.config/rofi/
!.config/starship/
!.config/sxhkd/
!.config/tmux/
!.config/wal/
!.config/wget/
!.config/zathura/
!.config/zsh/

!.config/aliasrc
!.config/mimeapps.list
!.config/picom.conf
!.config/rofigeneric.rc
!.config/rofimoji.rc
!.config/user-dirs.dirs
!.config/wall.png
!.config/xinitrc
!.local/bin
!.local/share/applications/browser
!.local/share/applications/feh
!.local/share/applications/img
!.local/share/applications/svg
!.local/share/applications/pdf
!.local/share/applications/text
!.local/share/applications/torrent
!.local/share/MARBS

!.gitconfig
!.gitignore
!.profile
!.xinitrc
!.xprofile
!.zprofile
