*
*/*

!.config/
!.local/

!.config/alacritty
!.config/bat/
!.config/bspwm/
!.config/dunst/
!.config/espanso/
!.config/fish/
!.config/fish/config.fish
!.config/fish/aliases.fish
!.config/fish/fish_plugins
!.config/fish/functions/man.fish
!.config/fontconfig/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/handlr/
!.config/helix/
!.config/helix/*
!.config/lf/
!.config/lf/*
!.config/mpd/
!.config/mpv/
!.config/ncmpcpp/
!.config/newsboat/
!.config/nvim/
!.config/nvim/init.vim
!.config/paru/
!.config/polybar/
!.config/ranger/
!.config/rofi/
!.config/starship/
!.config/sxhkd/
!.config/tmux/
!.config/wal/
!.config/wget/
!.config/zathura/
!.config/zsh/

!.config/aliasrc
!.config/mimeapps.list
!.config/picom.conf
!.config/rofigeneric.rc
!.config/rofimoji.rc
!.config/emojis
!.config/user-dirs.dirs
!.config/wall.jpg
!.config/xinitrc
!.config/kaomoji.txt

!.local/bin/
!.local/bin/*
!.local/share/applications/browser
!.local/share/applications/img
!.local/share/applications/pdf
!.local/share/applications/text
!.local/share/applications/torrent
!.local/share/MARBS

!.gitconfig
!.gitignore
!.profile
!.xinitrc
!.xprofile
!.zprofile
