#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

# Fix Gnome Apps Slow  Start due to failing services
# Add this when you include flatpak in your system
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

mpd &			# music player daemon-you might prefer it as a service though
setbg &			# set the background with the `setbg` script
picom &			# picom for transparency
dunst &			# dunst for notifications
xset r rate 170 60 &	# Speed xrate up
setxkbmap pl &		# Set default keyboard layout
unclutter &		# Remove mouse when idle

fc-cache -fv &

## Powersaving options
xbacklight -set 55 &

## Make monitor settings persist between reboots
eval $(awk -F'=' '/Exec=/ {print $2}' ~/.config/autostart/lxrandr-autostart.desktop) &
